body {
	background: #FFF;
	font-family: "Helvetica", Arial, Verdana, sans-serif;
	font-size: 15px;
	color: #555;
}
.group::after {
	content: "lol";
	font-size: 0;
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.fade_jquery {
	opacity: 0.5;
}
.left {
	float: left;
}
.right {
	float: right;
}
.footer_fact {
	font-size: 90%;
	margin-top: 5px;
}
.fade, #header .content #logo a {
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}
.fade:hover, #header .content #logo a:hover {
	opacity: 0.5;
	text-decoration: none !important;
}
.error {
	margin: 0 auto 20px;
	padding: 10px 20px;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	color: #333;
	font-size: 15px;
}
.success
{
	margin: 0 auto 20px;
	padding: 10px 20px;
	background: #CAEFB5;
	border: 1px solid #3B6E22;
	color: #333;
	font-size: 15px;
}
.clear {
	clear: both;
}
.page a,.page_bottom a,.page_bottom_number a {
	color:#555 !important;
	text-decoration: none;
	border: none !important;
}
.page a:hover,.page_bottom a:hover,.page_bottom_number a:hover,.page_bottom_number_a:hoverctive a:hover {
	color:#000 !important;
	text-decoration: none;
	border: none !important;
}
.page,.page_bottom, .page_bottom_number, .page_bottom_number_active {
	float:right;
	display: inline-block;
	min-width: 10px;
	height: 18px;
	padding: 4px 7px;
	font-size: 15px;
	line-height: 20px;
	color: #555;
	border-color: #CCC #CCC #AAA;
	border: 1px solid;
	text-align: center;
	moz-box-shadow: inset 0 0 1px #fff;
	-ms-box-shadow: inset 0 0 1px #fff;
	-webkit-box-shadow: inset 0 0 1px white;
	box-shadow: inset 0 0 1px white;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fffafafa,EndColorStr=#ffdcdcdc);
	background-image: -moz-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
	background-image: -ms-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
	background-image: -o-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FAFAFA),color-stop(100%,gainsboro));
	background-image: -webkit-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
	background-image: linear-gradient(to bottom,#FAFAFA 0,gainsboro 100%);
	border: 1px solid #CCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-right: 5px
}
.page:hover,.page_bottom:hover,.page_bottom_number:hover, .page_bottom_number_active{
	border-color: #AAA #AAA #999;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff;
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25),inset 0 0 3px white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25),inset 0 0 3px white;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fff0f0f0,EndColorStr=#ffe6e6e6);
	background-image: -moz-linear-gradient(top,#F0F0F0 0,#E6E6E6 100%);
	background-image: -ms-linear-gradient(top,#F0F0F0 0,#E6E6E6 100%);
	background-image: -o-linear-gradient(top,#F0F0F0 0,#E6E6E6 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#F0F0F0),color-stop(100%,#E6E6E6));
	background-image: -webkit-linear-gradient(top,#F0F0F0 0,#E6E6E6 100%);
	background-image: linear-gradient(to bottom,#F0F0F0 0,#E6E6E6 100%);
	cursor: pointer;
}
.page_bottom {
	margin-top: -10px
}
.page_bottom_number,.page_bottom_number_active {
	float:left;
	margin-top: -10px;
	margin-left: 5px;
}
.page_bottom_number_active a {
	color: #678DB7 !important;
}
.page_user_margin {
	margin-right: 5px
}
.page {
	margin-bottom: 20px
}
.page_index {
	margin: -10px 5px 0 0;
}
.blue {
	color: #678DB7;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: bold;
}
.post {
  padding: 15px 1.5em;
  color: #555;
  background: #E0E0E0 url(/images/noise-gray.png) center;
  margin: 0 3em 40px;
  font-family: 'Ubuntu';
  line-height: 25px;
  border-bottom: 1px solid #CCC;
  text-align: justify;
}
.post.first-child, .grey_post.first-child {
	margin:50px 3em 40px 3em;
}
.post.last-child, .grey_post.last-child {
	margin:0 3em 80px 3em;
}
.grey_post 
{
	background: whiteSmoke;
	border: 1px solid #E5E5E5;
	padding: 10px;
	margin: 20px 5px;
	color: #666;
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
	moz-box-shadow: 2px 5px 10px #e5e5e5;
	box-shadow: 2px 5px 10px #E5E5E5;
	-webkit-box-shadow: 2px 5px 10px #E5E5E5;
}
.login_form 
{
	width: 400px;
	margin-right: auto !important;
	margin-left: auto !important;
}
.login_form .img_log {
	width: 128px;
	height: 128px;
	float: right;
	background: url(/images/icones/login_form.png);
	display: block;
	margin-top: 60px;
}
.celebrate {
	height: 309px;
	width: 427px;
	margin: 70px auto;
	background: url(/images/celebrate.gif);
	display: block;
}
img.baby_cry {
	width: 420px;
	height: 315px;
	margin: 70px auto;
	background: #FAFAFA;
	display: block;
	border: 2px solid #CCC;
	padding: 7px;
	margin: 70px auto;
	box-shadow:0 1px 5px rgba(0,0,0,0.5),inset 0 -1px 0 rgba(0,0,0,0.3);
	-moz-box-shadow:0 1px 5px rgba(0,0,0,0.5),inset 0 -1px 0 rgba(0,0,0,0.3);
	-webkit-box-shadow:0 1px 5px rgba(0,0,0,0.5),inset 0 -1px 0 rgba(0,0,0,0.3)
}
#intro_like .img_infos {
	width: 128px;
	height: 128px;
	float: right;
	background: url(/images/icones/infos.png);
	display: block;
	margin: 75px 35px 0 0;
}
#submit_fact_user input[type=text], #submit_facts_user input[type=email]
{
	width: 200px;
}
.margin_top_bottom_15 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.min_info {
	font-size: 12px;
	font-style: italic;
}
.add_fact{
	width: 600px;
}
.img_add_fact {
	width: 128px;
	height: 128px;
	float: right;
	background: url(/images/icones/add_fact.png);
	display: block;
	margin: 120px 15px 0 0;
}
.img_chat {
	width: 128px;
	height: 128px;
	float: right;
	background: url(/images/icones/chat.png);
	display: block;
	margin: 85px 15px 50px 30px;
} 
.moderate_fact_button {
	margin-left: 20px;
	display: inline-block;
}
.moderate_fact_button a {
	border: 0 !important;
}
.mini_icone {
	height: 12px;
	width: 12px;
	margin-right: 10px;
	display: inline-block;
	background: url(/images/icones/sprite_mini_icones.png);
	border: 0;
}
.mini_icone.icon_success {
	background-position: -24px 0;
}
.mini_icone.edit {
	background-position: -12px 0;
}
.mini_icone.delete {
	background-position: 0 0;
}
#textarea_text_fact, textarea#text_fact
{
	width: 99%;
	height: 50px;
} 
#img_404 {
	float: right;
	width: 350px;
	height: 350px;
	margin-top: 130px;
	background: url('/images/404.jpg')
}
#header {
	background: #2A4785;
	background: -webkit-gradient( linear, left top, left bottom, from(#5A7CCA), to(#2A4785) );
	background: -webkit-linear-gradient( top, #5A7CCA, #2A4785 );
	background: -moz-linear-gradient( top, #5A7CCA, #2A4785 );
	background: -o-linear-gradient( top, #5A7CCA, #2A4785 );
	background: linear-gradient( top, #5A7CCA, #2A4785 );
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5A7CCA', endColorstr='#2A4785',GradientType=0 )
	display: block;
	height: 60px;
}
#header .content {
	width: 950px;
	margin: 0 auto;
	padding: 15px 0;
}
#header .content #logo {
	float: left;
	margin: 0;
}
#header .content #logo a {
	font-family: "Open Sans";
	font-size: 25px;
	color: #FFF;
	font-weight: normal;
	display: block;
	height: 30px;
	text-decoration: none;
	letter-spacing: 2px;
}
#header .content #logo a img {
	height: 30px;
	margin-right: 15px;
	vertical-align: -8px;
}
#header .content #social-networks {
	float: right;
	background: #555;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 6px 10px;
	margin-top: -3px;
}
#menu {
	border-bottom: 1px solid #DDD;
	width: 950px;
	margin: 20px auto;
	line-height: 25px;
	height: 29px;
}
#menu a span.icon {
	height: 16px;
	width: 16px;
	margin-right: 15px;
	vertical-align: -2px;
	display: inline-block;
	background: url(/images/icones/menu/sprite.png);
}
#menu a span.icon.home {
	background-position: -32px 0;
}
#menu a span.icon.random {
	background-position: -64px 0;
	vertical-align: -4px !important;
}
#menu a span.icon.add {
	background-position: 0 0;
}
#menu a span.icon.newsletter {
	background-position: -48px 0;
}
#menu a span.icon.about {
	background-position: -96px 0;
}
#menu a span.icon.contact {
	background-position: -16px 0;
}
#menu a span.icon.search {
	background-position: -80px 0;
	vertical-align: -3px !important;
}
#menu a, #menu a:visited {
	color: #666;
	margin-right: 47px;
	height: 24px;
	font-size: 16px;
	display: block;
	float: left;
	text-decoration: none;
}
#menu a.active, #menu a:hover {
	border-bottom: 3px solid #678DB7;
	padding-bottom: 2px;
}
#menu a:last-child {
	margin-right: 0;
}
#content {
	width: 950px;
	margin: 0 auto;
	line-height: 25px;
	position: relative;
	opacity: 0;
}
#content ul, ul.margin {
	margin-left: 20px;
	list-style: inside square;
}
#content h1, #content h2, #content h3 {
	font-family: 'Open Sans';
	color: #555;
	font-weight: 300;
	font-style: normal;
}
#content h1 {
	font-size: 2.8em;
	margin-bottom: 0.9em;
	margin-top: 1em;
}
#content h2 {
	font-size: 2.0em;
	margin: 0.4em 0 0.6em;
	padding-top: 0.4em;
}
#content h3 {
	font-size: 1.6em;
	margin: 0.8em 0 0.6em;
}
#content a {
	color: #678DB7;
	text-decoration: none;
}
#content a:hover {
	border-bottom: 1px dashed #678DB7;
	text-decoration: none;
}
#footer {
	margin-top: 50px;
	font-size: 13px;
	display: block;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
	font-weight: normal;
	background: #FFF;
	background: -webkit-gradient( linear, left top, left bottom, from(#F5F5F5), to(#FFF));
	background: -webkit-linear-gradient( top, #F5F5F5, #FFF);
	background: -moz-linear-gradient( top, #F5F5F5, #FFF);
	background: -o-linear-gradient( top, #F5F5F5, #FFF);
	background: linear-gradient( top, #F5F5F5, #FFF);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F5F5F5', endColorstr='#FFF',GradientType=0)
	border-top: 1px solid #DDD;
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.05);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, .05);
	opacity: 0;
	height: 100%
}
#footer .content {
	width: 950px;
	margin: 0 auto;
	padding: 12px 0 70px 0;
	line-height: 20px;
}
#footer .content a {
	color: #888;
	text-decoration: none;
}
#footer .content a:hover {
	border-bottom: 1px dashed #888;
	text-decoration: none;
}
#footer .content .left{
	float: left;
	width: 450px;
	margin-right: 25px;
	text-align: justify;
}
#footer .content .right{
	float: right;
	width: 215px;
	margin-left: 260px;
}
#intro, #intro_like {
	background: url(/images/dark_gray.png);
	margin:50px 0;
	padding: 10px 20px;
	font-family: 'Open Sans';
	font-weight: normal;
	font-size: 15px;
	text-align: justify;
}
#intro span.right a {
	cursor: pointer;
	font-style: italic;
	color: #888;
	text-decoration: none;
	float: right;
}
#intro span.right a:hover {
	color: #555;
	text-decoration: none;
	border: none;
}
#notification {
	display: none;
}
#facebook_comment_box {
	width: 600px;
	margin: 50px auto 70px auto;
}