RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www.internet-facts.com [NC]
RewriteRule ^(.*)$ http://internet-facts.com/$1 [L,R=301]
RewriteRule ^([a-z]+)$ $1.php [L,QSA]
RewriteRule ^([0-9]+)$ $1.php [L,QSA]
RewriteRule ^random index.php?mod=random [L,QSA]
RewriteRule ^random?p=([0-9]+)$ index.php?mod=random&p=$1 [L,QSA]
RewriteRule ^fact-([0-9]+)$ index.php?mod=fact&id=$1 [L,QSA]
RewriteRule ^fact/([0-9]+)$ index.php?mod=fact&id=$1 [L,QSA]
RewriteRule ^fact/([0-9]+)/$ index.php?mod=fact&id=$1 [L,QSA]
RewriteRule ^newsletter/([a-zA-Z0-9_]+)/$ newsletter.php?code=$1 [L,QSA]
RewriteRule ^author/([a-z0-9_]+)$ index.php?mod=author&username=$1 [L,QSA]
RewriteRule ^author/([a-z0-9_]+)?p=([0-9]+)$ index.php?mod=author&username=$1&p=$2 [L,QSA]

ErrorDocument 404 http://internet-facts.com/404
ErrorDocument 403 http://internet-facts.com/404
ErrorDocument 500 http://internet-facts.com/404
ErrorDocument 503 http://internet-facts.com/404


# MOD_DEFLATE COMPRESSION
SetOutputFilter DEFLATE
AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml application/x-javascript application/x-httpd-php
#Pour les navigateurs incompatibles
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
#ne pas mettre en cache si ces fichiers le sont déjà
SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip
#les proxies doivent donner le bon contenu
Header append Vary User-Agent env=!dont-vary

# BEGIN Expire headers
<IfModule mod_expires.c>
 ExpiresActive On
 ExpiresDefault "access plus 7200 seconds"
 ExpiresByType image/jpg "access plus 2592000 seconds"
 ExpiresByType image/jpeg "access plus 2592000 seconds"
 ExpiresByType image/png "access plus 2592000 seconds"
 ExpiresByType image/gif "access plus 2592000 seconds"
 AddType image/x-icon .ico
 ExpiresByType image/ico "access plus 2592000 seconds"
 ExpiresByType image/icon "access plus 2592000 seconds"
 ExpiresByType image/x-icon "access plus 2592000 seconds"
 ExpiresByType text/css "access plus 2592000 seconds"
 ExpiresByType text/javascript "access plus 2592000 seconds"
 ExpiresByType text/html "access plus 7200 seconds"
 ExpiresByType application/xhtml+xml "access plus 7200 seconds"
 ExpiresByType application/javascript A259200
 ExpiresByType application/x-javascript "access plus 2592000 seconds"
 ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
</IfModule>
# END Expire headers

# BEGIN Cache-Control Headers
<IfModule mod_headers.c>
 <FilesMatch "\\.(ico|jpe?g|png|gif|swf|gz|ttf)$">
 Header set Cache-Control "max-age=2592000, public"
 </FilesMatch>
 <FilesMatch "\\.(css)$">
 Header set Cache-Control "max-age=2592000, public"
 </FilesMatch>
 <FilesMatch "\\.(js)$">
 Header set Cache-Control "max-age=2592000, private"
 </FilesMatch>
<filesMatch "\\.(html|htm)$">
Header set Cache-Control "max-age=7200, public"
</filesMatch>
# Disable caching for scripts and other dynamic files
<FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
Header unset Cache-Control
</FilesMatch>
</IfModule>
# END Cache-Control Headers

# KILL THEM ETAGS
Header unset ETag
FileETag none

# protection de la lecture des répertoires
Options -Indexes